body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2065EF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 100%;
  width: 100%;
  text-align: left;
  font-family: Roboto;
}

.container1 {
  background: #2065EF;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 10px;
  padding-top: 0.07px;
  font-family: Roboto;
}

.con {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 10px;
  font-size: 18px;
  font-family: Roboto;
}
.Link {
  text-decoration: none;
  color: white;
  font-family: Roboto;
}

.con1 {
  padding-left: 16px;
  padding-right: 16px;
  font-family: Roboto;
}
.ab{
  color: aliceblue;
  font-family: Roboto;
  
}
.table{
  border-collapse: collapse;
  width: 100%;
 
}

.table, tr, th{
  color: aliceblue;
  font-family: Roboto;
  border:1px solid  rgb(38, 233, 13);
  background-color:white;
  color: black;
  
}
.trcolor{
  background-color:rgb(38, 233, 13);
}


